article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.header_article {
  padding: 30px;
  background-color: rgb(40, 47, 82);
  color: #ffffff;
}
.info_zanate {
  height: 200px;
  width: 500px;
  margin: 30px;
  padding: 10px;
  border: solid 5px rgb(40, 47, 82);
  border-radius: 5px;
  background-color: rgba(81, 92, 149, 0.458);
  font-size: 15px;
  
}
.footer_article{
    display: flex;
    align-items: center;
    background-color: rgb(40, 47, 82);
    justify-content: center;
    color: #ffffff;
    height: 60px;
}
